<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/ccs/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hulk</title>
</head>
<body>
    <main>
        <h1>Soy Hulk</h1>
        <section class="sec">
            <img src="/images/hulk.jpg" alt="Hulk">
            <p class="sec">
                Hulk (llamado La Masa o El Hombre Increíble en muchas de las traducciones al español) es un personaje ficticio, un superhéroe que aparece en los cómics estadounidenses publicados por la editorial Marvel Comics. El personaje fue creado por los escritores Stan Lee y Jack Kirby siendo su primera aparición en The Incredible Hulk #1 publicado en mayo de 1962. En sus apariciones de cómic, el personaje es a la vez Hulk, un ser humanoide enorme de piel verde, corpulento y musculoso que posee una gran fortaleza física, y su alter ego el Dr. Robert Bruce Banner (o Dr. David Bruce Banner), un físico socialmente retraído, débil físicamente y emocionalmente reservado, las dos personalidades existentes como independientes y con resentimiento de la otra.
            </p>
        </section>
        <section>
            <h2>Mark Ruffalo</h2>
            <p class="sec">
                Hulk regresó el 4 de mayo de 2012 en la superproducción de The Avengers, como miembro y fundador del equipo homónimo. Debido a problemas con la producción, Edward Norton no volvió a interpretar al alter ego del gigante esmeralda, Bruce Banner; esta vez su puesto fue ocupado por el actor Mark Ruffalo y se empleó la técnica de captura de movimientos, usada en la película Avatar, para crear a Hulk de manera mucho más realista. Aquí se une con Iron Man/Tony Stark, Thor, Capitán América/Steve Rogers, Viuda Negra/Natasha Romanoff y Ojo de Halcón/Clint Barton.
            </p>
        </section>
        <h3>Cine</h3>
        <section>
            <article id="arti1">
                <ol>
                    <li>Hulk (película de 2003)</li>
                    <li>Marvel Cinematic Universe</li>
                    <li>The Incredible Hulk </li>
                </ol>
            </article>
            <article id="arti2">
                <ul>
                    <li>The Avengers</li>
                    <li>Iron Man 3</li>
                    <li>Avengers: Age of Ultron</li>
                    <li>Thor: Ragnarok</li>
                    <li>Avengers: Infinity War</li>
                    <li>Capitana Marvel</li>
                    <li>Avengers: Endgame</li>
                    <li>Shang-Chi y la leyenda de los Diez Anillos</li>
                </ul>
            </article>
        </section>
        <a href="https://es.wikipedia.org/wiki/Hulk" target="_blanck">Mas información</a>
    </main>
</body>
</html>